<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <title></title>
  <meta name="Generator" content="Cocoa HTML Writer">
  <meta name="CocoaVersion" content="2575.4">
  <style type="text/css">
    p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px Helvetica}
    p.p2 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px Helvetica; min-height: 14.0px}
  </style>
</head>
<body>
<p class="p1">body {</p>
<p class="p1"><span class="Apple-converted-space">  </span>font-family: Arial, sans-serif;</p>
<p class="p1"><span class="Apple-converted-space">  </span>margin: 0;</p>
<p class="p1"><span class="Apple-converted-space">  </span>padding: 0;</p>
<p class="p1"><span class="Apple-converted-space">  </span>text-align: center;</p>
<p class="p1">}</p>
<p class="p2"><br></p>
<p class="p1">header {</p>
<p class="p1"><span class="Apple-converted-space">  </span>background-color: #4CAF50;</p>
<p class="p1"><span class="Apple-converted-space">  </span>color: white;</p>
<p class="p1"><span class="Apple-converted-space">  </span>padding: 2rem;</p>
<p class="p1">}</p>
<p class="p2"><br></p>
<p class="p1">main {</p>
<p class="p1"><span class="Apple-converted-space">  </span>padding: 2rem;</p>
<p class="p1">}</p>
<p class="p2"><br></p>
<p class="p1">footer {</p>
<p class="p1"><span class="Apple-converted-space">  </span>background: #222;</p>
<p class="p1"><span class="Apple-converted-space">  </span>color: white;</p>
<p class="p1"><span class="Apple-converted-space">  </span>padding: 1rem;</p>
<p class="p1"><span class="Apple-converted-space">  </span>margin-top: 2rem;</p>
<p class="p1">}</p>
</body>
</html>
